*{
  outline: 1px dotted red;
}

.newArrivals {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-right: 170px;
  display: inline-block;
}

div.newArrivals img {
  width: 250px;
  height: 300px;
}
div.photo a.imglink img.newpicture {
  width: 250px;
  height: 200px;
}

.imagepreview {
  display: inline-block;
}

div.imagepreview img {
  width: 100%;
}

.newArrivalsArrows{

}

.picborder {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  width: 160px;
  height: 320px;
  vertical-align: top;
}

.credit-card-div  span {
    padding-top:10px;
        }
.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px;
}


.editImage img {
  width: 340px;
  height: 480px;
   border: 1px solid;
}

.retailImage{
  width: 340px;
  height: 480px;
}


.editImagePreview img{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  border: 1px solid;
}
.editImagePreview{
  width: 100px;
  height: 100px;
  margin: 4px;
  display: inline-block;

}

.retailContentContainer{
  margin-top: 45px;
}

.frontImages{
  width: 1170px;
  height: 950px;
}

.frontImagesContainer{
  width: 1170px;
  height: 950px;
}

.retaiDetails {
  margin-top: 25px;
  margin-bottom: 20px;
}

.retailDetailsContent{
   margin-top: 50px;
}

.checkoutImage{
  width: 100px;
  height: 100px;
}

.dropzoneBox{
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
}

.previewRetailImage img{
  width: 70px;
  height: 70px;
}

.previewRetailImage{
  display: inline-block;
  margin: 5px;
}

.previewRetailImageContainer{
  width: 100%
}

.newArrivalsRightArrow{

}
