<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <link type="text/css" rel="stylesheet" href="bootstrap.css"></link>
    <link type="text/css" rel="stylesheet" href="bootstrap-theme.css"></link>
    <link type="text/css" rel="stylesheet" href="basic.css"></link>
    <link type="text/css" rel="stylesheet" href="dropzone/dist/dropzone.css"></link>
    <script src="angular/angular.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="angular-cookies/angular-cookies.js"></script>
    <script src="app.js"></script>
    <script src="controllers/adminControllerC.js"></script>
    <script src="controllers/productControllerC.js"></script>
    <script src="controllers/productEditControllerC.js"></script>
    <script src="controllers/customerControllerC.js"></script>
    <script src="controllers/orderControllerC.js"></script>
    <script src="controllers/frontPageController.js"></script>
    <script src="factory/productFactoryC.js"></script>
    <script src="factory/userFactoryC.js"></script>
  </head>
  <body>
  <div ng-view>
  </div>
  <script type="text/javascript" src="bootstrap/jquery.min.js"></script>
  <script type="text/javascript" src="bootstrap/bootstrap.js"></script>
  </body>
</html>
