<div ng-controller="allController">
	<div class="container">
		<div class="row">
			<div class="logohead">
				 <header class = 'col-lg-4 logo text-center col-lg-offset-4'><a href="/"><img class ="myphersLogo" src="/myphers.jpg" alt="myphers"></a></header>
			</div>
		</div>
	<!-- Main navbar -->
	<!-- Main navbar -->
	<div class="row">
		<div class="col-lg-4 col-lg-offset-5 navBar">
			<ul class="nav nav-pills ">
				<li class="navOptions" role="presentation"><a ng-click="showNav=!showNav" href="">Shop</a></li>
				<li class="navOptions" role="presentation"><a href="#/lookbooks">Lookbook</a></li>
			</ul>
		</div>
		<div class="col-lg-1 col-lg-offset-2 cartIconContainer">
			<a href="#/cart"><img class="cartIcon" src="cart.png" alt="cart"></a>
		</div>
	</div>
	<div class="row">
				<div class="col-lg-7 col-lg-offset-4 text-center">
					<div ng-show="showNav">
						<ul class="nav nav-pills">
							<li class="navOptions" role="presentation"><a href="#/all">All</a></li>
							<li class="navOptions" role="presentation"><a href="#/shirts">Shirts</a></li>
							<li class="navOptions" role="presentation"><a href="#/bottoms">Bottoms</a></li>
							<li class="navOptions" role="presentation"><a href="#/outerwear">Outerwear</a></li>
							<li class="navOptions" role="presentation"><a href="#/accessories">Accessories</a></li>
						</ul>
					</div>
				</div>
			<div class="banners" ng-repeat="banner in allProductBanner">
				<img src="{{banner.image[0]}}" alt="">
			</div>
	</div>
	<div class="row">
		<div class="productImagesContainer col-lg-12">
			<div class="productImages" ng-repeat="product in products">
				<div class="">
					<a href="#/retail/{{product._id}}">
					<img src="{{product.image[0]}}" alt="{{product.name}}">
					<p class="text-center">{{product.name}}</p>
					<p class="text-center">${{product.price}}</p>
				</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
