<div ng-controller='customerController'>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#/dashboard">Dashboard</a></li>
    <li role="presentation"><a href="#/products">Products</a></li>
    <li role="presentation"><a href="#/orders">Orders</a></li>
    <li role="presentation"><a href="#/customers">Customers</a></li>
    <li role="presentation"><a href="#/settings">Settings</a></li>
  </ul>
  <table class='table'>
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Created at</td>
        <td>Action</td>
    </tr>
    </thead>
    <tr ng-repeat ='user in users'>
      <td>{{user.first_name}} {{user.last_name}} </td>
      <td>{{user.email}} </td>
      <td>{{user.created_at | date: "MMMM d yyyy"}}</td>
      <td><a href="" ng-click='deleteUser(user)'>Delete</a></td>
    </tr>
  </table>
</div>
