<div ng-controller='producteditController'>
  <form ng-submit='updateProduct()'>
        Name: <input type="text" ng-model='products[0].name' >
        Image: <input type="text" ng-model='products[0].image'>
        Description: <input type="text" ng-model='products[0].description'>
        Quantity: <input type="number" ng-model='products[0].quantity'>
        <!-- ng-init ="user.first_name=x.first_name" value="{{x.first_name}}"
        ng-init ="user.last_name=x.last_name" value="{{x.last_name}}"
        ng-init ="user.birthday=x.birthday" value="{{x.birthday}}" -->

        <input type="submit" value="update">
    </form>

    <br><br><br>
    <input type="button" value="Delete" ng-click='deleteProduct()'>
    </div>
</div>
