<div ng-controller='frontPageController'>
	<div class="container">
		<div class="row">
			<div class="logohead">
				 <header class = 'col-lg-4 logo text-center col-lg-offset-4'><a href="/">Myphers</a></header>
			</div>
		</div>
		<!-- Main navbar -->
		<div class="row">
			<div class="col-lg-7 col-lg-offset-4 text-center">
				<ul class="nav nav-pills">
					<li role="presentation"><a ng-click="showNav=!showNav" href="">Shop</a></li>
					<li role="presentation"><a href="#/lookbook">Lookbook</a></li>
					<li role="presentation"><a href="#/models">Models</a></li>
					<li role="presentation"><a href="#/register">Register / Log in</a></li>
				</ul>
			</div>
			<div class="col-lg-1">
				<a href="#/cart">Cart</a>
			</div>
		</div>
		<!-- shop navbar -->
		<div class="row">
			<div class="col-lg-8 col-lg-offset-4 text-center">
				<div ng-show="showNav">
					<ul class="nav nav-pills">
						<li role="presentation"><a href="#/">All</a></li>
						<li role="presentation"><a href="#/">Tops</a></li>
						<li role="presentation"><a href="#/">Bottoms</a></li>
						<li role="presentation"><a href="#/">Accessories</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="frontImage">

		</div>
		<!-- Main front image -->
		<!-- <div class="row frontImagesContainer">
			<div class="col-lg-12 frontImagesContainer">
				<div class="content_container ">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol> -->


    <!-- Wrapper for slides -->
    <!-- Eventually make this able to be added/edit/delete through backend -->


    <!-- <div class="carousel-inner frontImages" role="listbox">
      <div class="item active">
        <img class ="img-responsive center-block " src="random.jpeg" alt='flea'>
      </div>

			<div class="item frontImages">
				<img class ="img-responsive center-block " src="streetfighter/cody.jpg" alt='flea'>
			</div>
 -->

    <!-- Left and right controls -->

    <!-- <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
			</div>
		</div>
	</div> -->


		<!-- Main front image END -->
	<div class="row">
		<div class="col-lg-12 newArrivalImages text-center">
			<h5>New Arrivals</h5>
			<button id="newArrivalsLeftArrow" type="button" name="button" ng-click="leftNewArrivalsArrow()">&#171;</button>
			<div class="newArrivals" ng-repeat="product in newProducts | limitTo: 4 : productIndex">
				<a href="#/retail/{{product._id}}"><img src="{{product.image[0]}}" alt="{{product.name}}"></a>
			</div>
				<button id="newArrivalsRightArrow" type="button" name="button" ng-click="rightNewArrivalArrow()">&#187;</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<h5>Blogs</h5>
		</div>
	</div>
	<div class="footer-wrap">
		<div class="footer-col">

		</div>
	</div>
</div>
</div>
