<div ng-controller='frontPageController'>
	<div class="container">
		<div class="row">
			<div class="logohead">
				 <header class = 'col-lg-4 logo text-center col-lg-offset-4'><a href="/"><img class ="myphersLogo" src="/myphers.jpg" alt="myphers"></a></header>
			</div>
		</div>
		<div ng-show="thankyou" class="row thankContainer">
		 <h3>{{thankyou}}</h3>
	 </div>
		<!-- Main navbar -->
		<div class="row">
			<div class="col-lg-4 col-lg-offset-5 navBar">
				<ul class="nav nav-pills ">
					<li class="navOptions" role="presentation"><a ng-click="showNav=!showNav" href="">Shop</a></li>
					<li class="navOptions" role="presentation"><a href="#/lookbooks">Lookbook</a></li>
				</ul>
			</div>
			<div class="col-lg-1 col-lg-offset-2 cartIconContainer">
				<a href="#/cart"><img class="cartIcon" src="cart.png" alt="cart"></a>
			</div>
		</div>
		<!-- shop navbar -->
		<div class="row">
			<div class="row">
				<div class="col-lg-7 col-lg-offset-4 text-center">
					<div ng-show="showNav">
						<ul class="nav nav-pills">
							<li class="navOptions" role="presentation"><a href="#/all">All</a></li>
							<li class="navOptions" role="presentation"><a href="#/shirts">Shirts</a></li>
							<li class="navOptions" role="presentation"><a href="#/bottoms">Bottoms</a></li>
							<li class="navOptions" role="presentation"><a href="#/outerwear">Outerwear</a></li>
							<li class="navOptions" role="presentation"><a href="#/accessories">Accessories</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="frontBanner">
				<img src="{{frontBanner}}" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 newArrivalImages text-center">
				<h5 class="text-center">New Arrivals</h5>
				<div class="">
					<div class="newArrivals" ng-repeat="product in newProducts | limitTo: 8 : productIndex">
						<a href="#/retail/{{product._id}}"><img src="{{product.image[0]}}" alt="{{product.name}}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<h5>Lookbook</h5>
			</div>
		</div>
		<div class="footer-wrap">
			<div class ="lookbookImagesContainerFront" ng-repeat="image in lookbooks | limitTo: 2">
				<img src="{{image.image[0]}}" alt="">
			</div>
		</div>
	</div>
</div>
