<div ng-controller="lookbookEditController">
	<ul class="nav nav-pills">
		<li role="presentation"><a href="#/dashboard">Dashboard</a></li>
		<li role="presentation"><a href="#/products">Products</a></li>
		<li role="presentation"><a href="#/orders">Orders</a></li>
		<li role="presentation"><a href="#/banners">Banners</a></li>
		<li role="presentation"><a href="#/lookbookAdmin">Lookbook</a></li>
	</ul>
	<div class="row">
		<div class="col-lg-9">
			<div ng-repeat="image in lookbook.image">
				<img src="{{image}}" alt="">
			</div>
		</div>
		<div class="-col-lg-3">
			<button type="button" name="button" ng-click="deleteLookbook(image)">Delete</button>
			</div>
		</div>
	</div>
