<div ng-controller='productController'>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#/dashboard">Dashboard</a></li>
      <li role="presentation"><a href="#/products">Products</a></li>
      <li role="presentation"><a href="#/orders">Orders</a></li>
      <li role="presentation"><a href="#/customers">Customers</a></li>
      <li role="presentation"><a href="#/settings">Settings</a></li>
    </ul>

    <div class='content row'>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3">
        <form class="navbar-form navbar-left" role="search">
          <input type="text" class="form-control" placeholder="Search by name" ng-model='name'>
        </form>
        <h5>Add a new product</h5>
        <div class="alert alert-danger" ng-repeat='message in messages'>
          <p ng-show='errors'> {{ message }} </p>
        </div>
        <form class="form-horizontal" ng-submit="uploadFile()">
          <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" name="name" ng-model='product.name'/>
            <label for="description" class="control-label">Description</label>
            <textarea class="form-control" rows="3" name="description" ng-model='product.description'></textarea>
            <label for="quantity" class="control-label">Quantity</label>
            <input type="number" class="form-control" name="quantity" ng-init="product.quantity=1" ng-model='product.quantity'/>
            <div class="dropzone dz-clickable form-control" id="myDropzone" dropzone="dropzoneConfig">
              <div class="dz-message">Drop files here or click to upload.</div>
            </div>
          </div>
          <input type="submit" value='Create'></input>
        </form>
      </div>
      <div class="">
        <div class='imagepreview picborder' ng-repeat='product in products  | filter:{name: name}'>
          <a href="#/edit/{{product._id}}"><img src="{{product.image[0]}}" alt="{{product.name}}">
          <p ng-model='product.name'>Name: {{product.name}}</p>
          <p>Quantity: {{product.quantity}}</p>
          <p>Sold: {{product.sold}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="preview-template" style="display:none;">
    <div class="dz-preview dz-file-preview">
      <div class="dz-details">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size></div>
        <img data-dz-thumbnail />
      </div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-success-mark"><span>✔</span></div>
      <div class="dz-error-mark"><span>✘</span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
  </div>
  <script type="text/javascript">
    Dropzone.autoDiscover = false;
  </script>
