<div ng-controller='productController'>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#/dashboard">Dashboard</a></li>
      <li role="presentation"><a href="#/products">Products</a></li>
      <li role="presentation"><a href="#/orders">Orders</a></li>
      <li role="presentation"><a href="#/banners">Banners</a></li>
    </ul>
    <div class='content row col-lg-12'>
      <div class="col-lg-2">
        <form class="navbar-form navbar-left" role="search">
          <input type="text" class="form-control searchName" placeholder="Search by name" ng-model='name'>
        </form>
        <br><br>
        <h5>Add a new product</h5>
        <div class="alert alert-danger" ng-repeat='message in messages'>
          <p ng-show='errors'> {{ message }} </p>
        </div>
        <form class="form-horizontal" ng-submit="createProduct()">
          <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" name="name" ng-model='product.name'/>
            <label for="description" class="control-label">Description</label>
            <textarea class="form-control" rows="3" name="description" ng-model='product.description'></textarea>
            <label for="inventory" class="control-label">Inventory</label>
            <input type="number" class="form-control" name="inventory" ng-init="product.inventory=1" ng-model='product.inventory'/>
            <div class="dropzone dz-clickable" id="myDropzone" dropzone="dropzoneConfig">
              <div class="dz-message dropzoneBox">Drop files here or click to upload.</div>
            </div>
            <label for="price" class="control-label">Price</label>
            <input type="text" name="price" class="form-control" ng-model='product.price'>
            <label class="control-label" for="category">Category</label>
            <!-- <input type="text" name="category" class="form-control" ng-model='product.category'> -->
            <select class="form-control" name="category" ng-options="category as category for category in categories" ng-model ="product.category">
            </select>
            <label class="control-label" for="size">Size</label>
            <!-- <input type="text" name="size" class="form-control" ng-model='product.size'> -->
            <select class="form-control" name="size" ng-options="size as size for size in sizes" ng-model ="product.size">
            </select>
          </div>
          <input type="submit" value='Create'></input>
        </form>
      </div>
      <div class="col-lg-10">
        <h3>In Stock</h3>
        <div class=" imagepreview">
          <div class='picborder' ng-repeat='product in products  | filter:{name: name}'>
            <a href="#/edit/{{product._id}}"><img src="{{product.image[0]}}" alt="{{product.name}}">
            <p ng-model='product.name'>{{product.name}}</p>
            <p>Inventory: {{product.inventory}}</p>
            <p>Sold: {{product.sold}}</p>
            <p>Price: ${{product.price}}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <h3>Sold Out</h3>
          <div class=" imagepreview">
            <div class='picborder' ng-repeat='product in soldOutProducts  | filter:{name: name}'>
              <a href="#/edit/{{product._id}}"><img src="{{product.image[0]}}" alt="{{product.name}}">
              <p ng-model='product.name'>{{product.name}}</p>
              <p>Inventory: {{product.inventory}}</p>
              <p>Sold: {{product.sold}}</p>
              <p>Price: ${{product.price}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="preview-template" style="display:none;">
    <div class="dz-preview dz-file-preview">
      <div class="dz-details">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size></div>
        <img data-dz-thumbnail />
      </div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-success-mark"><span>✔</span></div>
      <div class="dz-error-mark"><span>✘</span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
  </div>

  <script type="text/javascript">
    Dropzone.autoDiscover = false;
  </script>
</div>
