<div ng-controller='retailController'>
	<div class="container">
		<div class="row">
			<div class="logohead">
				 <header class = 'col-lg-4 logo text-center col-lg-offset-4'><a href="/">Myphers</a></header>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7 col-lg-offset-4 text-center">
				<ul class="nav nav-pills">
					<li role="presentation"><a ng-click="showNav=!showNav" href="">Shop</a></li>
					<li role="presentation"><a href="#/lookbook">Lookbook</a></li>
					<li role="presentation"><a href="#/models">Models</a></li>
					<li role="presentation"><a href="#/register">Register / Log in</a></li>
				</ul>
			</div>
			<div class="col-lg-1">
				<a href="#/cart">Cart</a>
			</div>
		</div>
		<div class="retailContentContainer">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-1 retailImageContainer">
					<img id="mainRetailImage" class="retailImage" src="{{products[0].image[0]}}" alt="{{products[0].name}}">
					<div class="previewRetailImageContainer">
						<div class="previewRetailImage" ng-repeat="product in products[0].image" ng-click="changeMainRetailImage(product)">
							<img src="{{product}}">
						</div>
					</div>
				</div>
				<div class="retailDetailsContent col-lg-5 col-lg-offset-1">
					<h4 class="retailDetails">{{products[0].name}}</h4>
					<h4 class="retailDetails">${{products[0].price}}</h4>
					<h5 ng-if="products[0].inventory==1" class="retailDetails"> Quantity: 1</h5>
					<h5 ng-if="products[0].inventory>1" class="retailDetails"><select class="" name="" ng-options="item as item for item in quantityOptions" ng-model = "product.quantityOptions" ng-init="product.quantityOptions = 1">
					</select></h5>
					<h5 class="retailDetails">{{products[0].description}}</h5>
					<!-- <h5 class="retailDetails">Size: Men's XL</h5>
					<h5 class="retailDetails">Details: The mother fucking Rock. WWF Champion.</h5> -->
					<button ng-click="addToCart(products[0], quantity)" class="retailDetails" type="button" name="button">Add to cart</button>
			<h5>{{cart}}</h5>

				</div>
			</div>
		</div>


	</div>
</div>
