<div ng-controller="thankController">
	</div class="container">
		<div class="row">
			<div class="logohead">
				 <header class = 'col-lg-4 logo text-center col-lg-offset-4'><a href="/"><img class ="myphersLogo" src="/myphers.jpg" alt="myphers"></a></header>
			</div>
		</div>
		<!-- Main navbar -->
		<div class="row">
			<div class="col-lg-4 col-lg-offset-5 navBar">
				<ul class="nav nav-pills ">
					<li role="presentation"><a ng-click="showNav=!showNav" href="">Shop</a></li>
					<li role="presentation"><a href="#/lookbook">Lookbook</a></li>
					<!-- <li role="presentation"><a href="#/models">Models</a></li> -->
					<!-- <li role="presentation"><a href="#/register">Register / Log in</a></li> -->
				</ul>
			</div>
			<!-- <div class="col-lg-1">
				<a href="#/cart">Cart</a>
			</div> -->
		</div>
		<!-- shop navbar -->
		<div class="row">

			<div class="row">
				<div class="col-lg-4 col-lg-offset-5 text-center">
					<div ng-show="showNav">
						<ul class="nav nav-pills">
							<li role="presentation"><a href="#/all">All</a></li>
							<li role="presentation"><a href="#/tops">Tops</a></li>
							<li role="presentation"><a href="#/bottoms">Bottoms</a></li>
							<li role="presentation"><a href="#/accessories">Accessories</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="frontLogo">

			</div>
		</div>
	</div>
</div>
